<app-navbar></app-navbar>
<div class="election">
  <div class="create-aspirant">
    <p-card header="Add Aspirant">
      <form (ngSubmit)="createAspirant()" [formGroup]="aspirantsForm" class="forms" enctype="multipart/form-data">
        <div class="p-field">
          <label for="surname">Membership ID</label>
          <input
            formControlName="memberId"
            id="surname"
            type="text"
            [ngClass]="{
            'p-invalid':
              !aspirantsForm.get('memberId').valid &&
              aspirantsForm.get('memberId').touched
          }"
            pInputText
          />
        </div>

        <div class="p-field">
          <label for="position">Position</label>
          <input
            formControlName="position"
            id="position"
            type="text"
            [ngClass]="{
            'p-invalid':
              !aspirantsForm.get('position').valid &&
              aspirantsForm.get('position').touched
          }"
            pInputText
          />
        </div>

        <div class="p-field">
          <label for="position">Image</label>
          <input (change)="onFileChange($event)" id="image" class="custom-file-input" type="file"/>
        </div>

        <p-progressSpinner
          *ngIf="loading"
          [style]="{ width: '50px', height: '50px' }"
          styleClass="custom-spinner"
          strokeWidth="8"
          fill="#EEEEEE"
          animationDuration=".5s"
        ></p-progressSpinner>

        <button *ngIf="!loading" class="submit">Save</button>
      </form>
    </p-card>
  </div>

  <div class="all-aspirants">
    <app-aspirants></app-aspirants>
  </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
