<div class="card">
  <p-dataView #dv [value]="aspirants" [paginator]="true" [rows]="1" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-aspirant pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="baseUrl + '/election/aspirant/' + aspirant.image" [alt]="aspirant.memberDetails.email"/>
          <div class="product-list-detail">
            <div class="product-name">{{aspirant.memberDetails.surname.toUpperCase() + ' ' + aspirant.otherNames}}</div>
            <div class="product-description">{{aspirant.memberDetails.email}}</div>
            <span class="product-category">{{aspirant.position}}</span>
          </div>
          <div class="product-list-action">
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-aspirant pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <span class="product-category">{{aspirant.position}}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img [src]="baseUrl + '/election/aspirant/' + aspirant.image" [alt]="aspirant.memberDetails.email"/>
            <div class="product-name">{{aspirant.memberDetails.surname.toUpperCase() + ' ' + aspirant.memberDetails.otherNames}}</div>
            <div class="product-description">{{aspirant.email}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">Votes: {{aspirant.votes}}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
