<p-dialog
  header="Member Details"
  [(visible)]="storageService.addMemberDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="membersForm" class="forms">
    <div class="form-group names">
      <div class="p-field">
        <label for="surname">Surname</label>
        <input
          formControlName="surname"
          id="surname"
          type="username"
          [ngClass]="{
            'p-invalid':
              !membersForm.get('surname').valid &&
              membersForm.get('surname').touched
          }"
          pInputText
        />
      </div>

      <div class="p-field">
        <label for="otherNames">Other Names</label>
        <input
          formControlName="otherNames"
          id="otherNames"
          type="username"
          [ngClass]="{
            'p-invalid':
              !membersForm.get('otherNames').valid &&
              membersForm.get('otherNames').touched
          }"
          pInputText
        />
      </div>
    </div>

    <div class="form-group contacts">
      <div class="p-field">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="email" pInputText />
      </div>

      <div class="p-field">
        <label>Mobile</label>
        <input
          type="tel"
          [ngClass]="{
            'p-invalid':
              !membersForm.get('mobile').valid &&
              membersForm.get('mobile').touched
          }"
          formControlName="mobile"
          pInputText
        />
      </div>
    </div>

    <div class="p-field">
      <label for="surname">Programme</label>
      <input
        formControlName="programme"
        id="programme"
        type="text"
        [ngClass]="{
          'p-invalid':
            !membersForm.get('programme').valid &&
            membersForm.get('programme').touched
        }"
        pInputText
      />
    </div>

    <div class="p-field">
      <label for="surname">Membership ID</label>
      <input
        formControlName="memberId"
        id="memberId"
        type="text"
        [ngClass]="{
          'p-invalid':
            !membersForm.get('memberId').valid &&
            membersForm.get('memberId').touched
        }"
        pInputText
      />
    </div>

    <div class="p-field">
      <label for="surname">Registration Date</label>
      <p-calendar
        dateFormat="dd-M-yy"
        formControlName="regDate"
        id="regDate"
        [readonlyInput]="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        [showIcon]="true"
        inputId="icon"
        [yearRange]="yearRange"
      ></p-calendar>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-progressSpinner
      *ngIf="loading"
      [style]="{ width: '50px', height: '50px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
    <p-button
      *ngIf="!loading"
      icon="pi pi-check"
      (click)="addMember()"
      label="Submit"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="bc"></p-toast>
