/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.linkedIn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  color: cadetblue;
  cursor: pointer;
  font-size: 13px;
}
